<beans 	xmlns="http://www.springframework.org/schema/beans"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:mvc="http://www.springframework.org/schema/mvc"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 组件扫描 -->
    <context:component-scan base-package="com.tianminghao.controller"/>

    <!-- 万能驱动 -->
    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

<!--    &lt;!&ndash; 视图解析器 &ndash;&gt;-->
<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--        <property name="prefix" value="/WEB-INF/pages/"/>-->
<!--        <property name="suffix" value=".jsp"/>-->
<!--    </bean>-->

    <mvc:resources mapping="/js/" location="/js/**"/>
    <mvc:resources mapping="/layui/" location="/layui/**"/>
    <mvc:resources mapping="/layuiadmin/" location="/layuiadmin/**"/>
    <mvc:resources mapping="/slidingValidation/" location="/slidingValidation/**"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/admin/login"/>
            <mvc:exclude-mapping path="/login.html"/>
<!--            <mvc:exclude-mapping path="/**"/>-->

            <bean class="com.tianminghao.controller.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>